//编辑状态填数据模板
.templateForm {
  //通用外部样式
  .el-form-item {
    display: inline-block;
    margin-bottom: 0;

    .el-form-item__content {
      font-size: inherit;
      line-height: 1;

      .el-input {
        font-size: inherit;
      }

      .el-input__inner {
        padding: 0;
      }

      .el-input__icon {
        line-height: 1;
      }
    }

    div, input {
      height: 100%;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
  }

  p {
    font-family: none;
    font-size: 16px;
    color: black;
    line-height: 30px;
  }

  .previewTextarea {
    border: 1px solid #ccc;
  }

  //下拉框
  .el-input__suffix {
    height: auto;
  }

  //时间框
  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
  }
}

// 锚点动画
.list-complete-enter {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-to {
  opacity: 0;
}

.list-complete-leave-active {
  position: absolute;
  width: 100%;
}
