//预览框样式
.contractPreviewDialog, .contractPreviewDialog {
  .el-dialog__body {
    height: calc(100% - 54px);
    padding: 15px 20px;

    .backBtn {
      position: absolute;
      top: 18px;
      right: 10px;
    }
  }
}

//编辑状态填数据模板
.templateForm {
  //通用外部样式
  .el-form-item {
    display: inline-block;
    margin-bottom: 0;

    div, input {
      height: 100%;

      .el-input__inner {
        padding: 0;
      }

      .el-form-item__content {
        line-height: 1;
      }
    }
  }

  input {
    //outline: 0;
    //margin: 0;
    //background: none;
    //padding: 0;
    //box-shadow: none;
    //border-width: 0 0 2px;
    ////border-color: #929292;
    //border-color: red;
  }

  p {
    font-family: none;
    font-size: 16px;
    color: black;
    line-height: 30px;
  }

  .viewObiList {
    font-family: none;
    font-size: 16px;
    color: black;
    line-height: 30px;
  }

  .previewTextarea {
    border: 1px solid #ccc;
  }

  //下拉框
  .el-input__suffix {
    height: auto;
  }

  //时间框
  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
  }

  //权利人区域
  .contractQlrList {
    overflow: auto;

    .contractQlrListBody {
      min-height: 100px;
      border: 1px solid #ccc;
      position: relative;
      overflow: hidden;

      .deleteListBtn {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        font-size: 18px;
        color: red;
        cursor: pointer;
        transition: opacity .3s;
      }

      &:hover {
        .deleteListBtn {
          opacity: 1;
        }
      }
    }
  }
}

// 锚点动画
.list-complete-enter {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-to {
  opacity: 0;
}

.list-complete-leave-active {
  position: absolute;
  width: 100%;
}
